@{
    ViewData["Title"] = "Home Page";
    //Other data to load
}

<div id="mainBodyHead">
    <h4 id="swarmTitle">The Swarm</h4>
</div>
<div id="mainBodyBody">
    <ul id="clientList">
        
    </ul>
</div>
